/* Styling the header */

.header {
    padding: .5rem 2.5rem .3rem;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 1000;
    background-color: white;
}



.header-div {
    display: inline-block;
}

.menu {
    float: left;
    cursor: pointer;
}

.search {
    float: left;
    margin-left: 2rem;
    cursor: pointer;
}

.title {
    float: left;
    margin-left: 2rem;
}

.header-main-link:link,
.header-main-link:visited {
    color: black;
    text-decoration: none;
    font-size: 14.25px;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    line-height: 19px;
}

.header-main-link:hover {
    text-decoration: underline;
}



.logo {
    width: 12%;
}

.img-logo {
    max-width: 100%;
    cursor: pointer;
}

.header-buttons {
    float: right;
}

.header-button {
    border-radius: 3px;
    cursor: pointer;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    transition: ease 0.6s;
    background-color: #6288a5;
    border: 1px solid #326891;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    -webkit-letter-spacing: 0.05em;
    -moz-letter-spacing: 0.05em;
    -ms-letter-spacing: 0.05em;
    letter-spacing: 0.05em;
    line-height: 11px;
    padding: 8px 9px 6px;
    text-transform: uppercase;
}

.header-button:hover {
    background-color: #326891;
}


/* styling the main content */

.main {
    position: relative;
    top: 2rem;
    left: 0;
    padding: 5rem 10rem;
}

.article {
    width: 90%;
}

.article-heading {
    color: #121212;
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.9375rem;
    line-height: 2.50rem;
    margin: 0 20px 2rem;
    position: relative;
    top: 0;
    left: 20rem;
    max-width: 600px;
}

.article-heading-span {
    display: inline-block;
    max-width: 400.777px;
}

.article-figure {
    width: 100%;
}

.article-image1 {
    max-width: 100%;
}

.article-figcaption {
    margin: 10px 0 10px;
    color: #666;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    font-size: .9rem;
    line-height: 1.3rem;
    width: 80%;
    text-align: left;
}

/* styling article wrapper and contents */

.article-wrapper {
    width: 600px;
    margin: 2rem auto;
    overflow: hidden;
}

.article-details {
    font-family: sans-serif;
}

.article-author {
    margin-bottom: 1rem;
    font-weight: bold;
    font-family: sans-serif;
}

.author-span {
    display: inline-block;
    border-bottom: 1px dashed black;
    cursor: pointer;
}

.author-span:hover {
    border-bottom: 1px dashed transparent;
}

/* .article-interaction {

} */

.article-time {
    float: left;
}

.article-list {
    float: right;
}

.article-icon{
    display: inline-block;
    position: relative;
    cursor: pointer;
}


.article-icon:not(:last-child) {
    margin-right: 1rem;
}

.round,
.trans-round {
    background-color: #eee;
    padding: 10px; 
    width: 25px;
    height: 25px;
    border-radius: 500%;
}

.round:hover {
    background-color: transparent;
    border: 1px solid #eee;
    color: black;
}

.trans-round {
    background-color: transparent;
}

.icon-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: .9rem;
}

.article-time {
    color: #333;
    letter-spacing: 0.02em;
    font-size: 0.875rem;
    line-height: 1.125rem;
}

.article-text {
    clear: both;
}

.article-video{
    margin: 3rem auto;
}


/* styling the article's text and images */

.article-text {
    margin-bottom: 1rem;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    font-size: 1.3rem;
    line-height: 1.5rem;
}

.inflation {
    /* border: 1px solid red; */
    width: 720px;
    margin: 0 auto;
    overflow: hidden;
}

.inflation-title {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 24px;
    line-height: 1.5rem;
    font-weight: 700;
    font-style: normal;
    font-family: nyt-cheltenham,georgia,times new roman,times,serif;
}

.inflation-description {
    font-size: .875rem;
    line-height: 1.125rem;
    font-weight: 400;
    font-style: normal;
    font-family: nyt-cheltenham-sh,georgia,times new roman,times,serif;
    color: #666;
}

.inflation-text-img {
    position: relative;
}

.inflation-image {
    max-width:100%;
    width: 100%
}

.inflation-text {
    width: 173px;
    font-family: nyt-franklin,arial,helvetica,sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    color: #000;
}

.inflation-text-1 {
    position: absolute;
    top: 17.9%;
    left: 0.2544%;
}

.inflation-text-2 {
    position: absolute;
    top: 17.9%;
    left: 25.2544%;
}

.inflation-text-3 {
    position: absolute;
    top: 17.9%;
    left: 50.7029%;
}

.inflation-text-4 {
    position: absolute;
    top: 17.9%;
    left: 76.7029%;
}

.inflation-text-5 {
    position: absolute;
    top: 65.2544%;
    left: 0;
}

.inflation-text-6 {
    position: absolute;
    top: 65.2544%;
    left: 25.7029%;
}

.inflation-text-7 {
    position: absolute;
    top: 65.2544%;
    left: 50.7029%;
}

.inflation-text-8 {
    position: absolute;
    top: 65.2544%;
    left: 76.7029%;
}



.inflation-text-bold {
    margin-right: 5px;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: .05em;
    font-family: nyt-franklin,arial,helvetica,sans-serif;
    line-height: 17px;
    color: #000000;
}

.inflation-img {
    max-width: 100%;
}


.inflation-author {
    text-align: left;
    margin-bottom: 3rem;
}

.inflation-hr {
    width: 60px;
    margin: 1rem 0;
    color: black;
    /* border-bottom: 1px solid black; */
}

.inflation-makers {
    font-size: 14px;
    font-size: .875rem;
    line-height: 18px;
    line-height: 1.125rem;
    font-weight: 500;
    font-style: normal;
    font-family: nyt-franklin,arial,helvetica,sans-serif;
}


.article-sub-heading {
    font-weight: 700;
    margin: 2rem 0;
}


.article-figure2 {
    width: 100%;
    margin:  2rem auto;
}

.article-img2 {
    max-width: 100%;

}

.article-figcaption {
    width: 100%;
}

.article-footer{
    margin-bottom: 3rem;
    font-size: 12px;
}

.article-footer-links{
    text-decoration: none;
    color: #666;
}

.article-footer-links:hover{
    text-decoration: underline;
}

.comments-button{
    padding:12px 90px ;
}

